<!DOCTYPE html>
<html>
  <head>
    <title>Side Step</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    
  </head>
  <body>

    <!-- jQuery Javascript -->
  	<script type="text/javascript"
  	src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- My Javascript -->
    <script type="text/javascript"
    src="javascripts/login.js"></script>

    <script type="text/javascript"
    src="javascripts/food.js"></script>

    <!-- Latest compiled and minified JavaScript for Bootstrap -->
    <script type="text/javascript" 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    
    {{>navbar}}
    {{>login}}
    

    <div class="jumbotron dark-background">
      <div class="container">
        <img class="pull-left jimage" src="images/green_food.jpg"/>
        <h2>You Are What You Eat</h2>
        <p>Nutrition is a key part of health, and not one to be taken lightly. If you really want to take your 
          health seriously, don't be a bitch, read up and follow through. You are what you eat. You eat shit? 
          You are shit.</p>
        <a href="#"><button class="btn btn-success">Be A Fine Ass Cut</button></a>
      </div>
    </div>

    <div class="container">
      <div class="col-xs-4">
        <h3><span class="glyphicon glyphicon-plus-sign pull-left green small-margin"></span>Fat Fuck?</h3>
        <p>You tired of putting Fat Bastard to shame. We are too. There is nothing lovely about those love handles
          so let's just carve those bad boys off. You follow our advice and you'll be able to look down and see your
          toes in no time.</p>
      </div>

      <div class="col-xs-4">
        <h3><span class="glyphicon glyphicon-minus-sign pull-left green small-margin"></span>Anorexic?</h3>
        <p>Where'd you go? Oh wait you're just standing sideways. Let's put a little meat on them bones. Like really.
          We're gonna strap a few good meals on to ya without letting it all go to your ass. Unless you want it
          to. We can do that.</p>
      </div>

      <div class="col-xs-4">
        <h3><span class="glyphicon glyphicon-ok-sign pull-left green small-margin"></span>Just Right?</h3>
        <p>Maybe you feel like you're a good weight. Maybe you think a dirastic change in your body form would
          actually be a bad thing. We think you're wrong. Time to rip off that fat and replace it with some 
          nice lean meat. Get the fuel you need to turbo-charge your life.</p>
      </div>
    </div>

  </body>
</html>