<!DOCTYPE html>
<html>
  <head>
    <title>Side Step</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    
  </head>
  <body>

    <!-- jQuery Javascript -->
  	<script type="text/javascript"
  	src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- My Javascript -->
    <script type="text/javascript"
    src="javascripts/login.js"></script>

    <script type="text/javascript"
    src="javascripts/exercise.js"></script>

    <!-- Latest compiled and minified JavaScript for Bootstrap -->
    <script type="text/javascript" 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    
    {{>navbar}}
    {{>login}}
    

    <div class="jumbotron dark-background">
      <div class="container">
        <img class="pull-left jimage" src="images/hulk.png"/>
        <h2>Use It Or Lose It</h2>
        <p>You might go through your whole life without ever having to do a goddamn pushup. 
          You don't use those things you call muscles? No muscles no more. Hulk up.</p>
        <a href="#"><button class="btn btn-success">Hulk Smash</button></a>
      </div>
    </div>

    <div class="container">
      <div class="col-md-4 col-xs-12">
        <h3><span class="glyphicon glyphicon-flash pull-left green small-margin"></span>Cardio.</h3>
        <p>Ever run like Forest Gump? Didn't think so. The only place you've ever run to is the front
          of the line at Krispy Kreme (we do not endorse their heavenly products). We'll have you running
          so much you won't know how to stop. Life on the run. Just like that you're a criminal. New name
          new town new life. But goddamn those toned calves make it all worth it.</p>
      </div>

      <div class="col-md-4 col-md-offset-4 col-xs-12">
        <h3><span class="glyphicon glyphicon-arrow-up pull-left green small-margin"></span>Lift.</h3>
        <p>Put that shirt back on you're embarassing yourself. You can't show off the goods if you don't have
          any. We're here to take you to the butcher, buy a few pounds of premium steak, boil it down to
          pure manliness, and inject that shit right where you need it the most. Legal? We don't know the
          meaning of the word. But you know what word we do know? Results. Do you even lift? You do now bitch.</p>
      </div>
    </div>

  </body>
</html>